* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Karla', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    height: 85px;
    background: linear-gradient(90deg,#672280 0%, #A626D3 100%);
    color: white;
    padding: 20px;
}

.header-image {
    height: 100%;
    margin-right: 15px;
}

.header-title {
    font-size: 1.25rem;  
    margin-right: auto;
}

.header-project {
    font-size: 14px;
    font-weight: 500;
}

/* CONVERSION : px/16 = rem */

.input-container {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr ;
    gap: 17px;

}

.input {
    text-indent: 10px;
    padding: 25px 0;
    font-size: 16px;
    border-radius: 5px;
    border: grey 1.3px solid;
}

main {
    padding: 36px;
}

.button {
    margin-top: 20pxw;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / -1;
    background: linear-gradient(90deg,#672280 0%, #A626D3 100%);
    color: white;
    font-weight: 500;
    align-items: center;  
    font-size: 24px;
    border-radius: 10px;
    border: none;
    padding: 30px;
    

}

.button:hover {
    cursor: pointer;
    background: #672280;
}

.button-icon {
    margin-left: 10px;
    width: 30px;
}